/* Stylish excel 2007 */
.table-excel {
    border: 1px solid var(--vz-secondary);
    border-width: 1px 0px 0px 1px;
    font-size: 11pt;
    font-family: Calibri;
    font-weight: 100;
    border-spacing: 0px;
    border-collapse: collapse;
    width: 100%;
}

.table-excel th,
.table-excel thead td {
    /* background-image: url(excel-2007-header-bg.gif); */
    /* background-color: var(--vz-secondary); */
    background-repeat: repeat-x;
    font-weight: normal;
    font-size: .7rem;
    border: 1px solid rgba(var(--vz-dark-rgb));
    border-width: 0px 1px 1px 0px;
    height: 17px;
    color: var(--vz-light);
    padding: 5px;

    background: rgba(var(--vz-dark-rgb), .9);
    text-align: center;

    /* background: -moz-linear-gradient(top, #16365c 0%, #16365c 11%, #16365c 31%, rgba(183, 195, 204, 1) 100%);
            background: -webkit-gradient(left top, left bottom, color-stop(0%, #16365c), color-stop(11%, #16365c), color-stop(31%, #16365c), color-stop(100%, rgba(183, 195, 204, 1)));
            background: -webkit-linear-gradient(top, #16365c 0%, #16365c 11%, #16365c 31%, rgba(183, 195, 204, 1) 100%);
            background: -o-linear-gradient(top, #16365c 0%, #16365c 11%, #16365c 31%, rgba(183, 195, 204, 1) 100%);
            background: -ms-linear-gradient(top, #16365c 0%, #16365c 11%, #16365c 31%, rgba(183, 195, 204, 1) 100%);
            background: linear-gradient(to bottom, #16365c 0%, #16365c 11%, #16365c 31%, rgba(183, 195, 204, 1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4e4ef', endColorstr='#b7c3cc', GradientType=0); */
}

.table-excel th.head-partida {
    width: 5%;
}

.table-excel th.head-descripcion,
.table-excel td.head-descripcion {
    width: 15%;
}

.table-excel th.head-fuente {
    width: 6.66%;
}

.table-excel td {
    border: 0px;
    background-color: var(--vz-light);
    padding: 0px 4px 0px 2px;
    border: 1px solid var(--vz-secondary);
    border-width: 0px 1px 1px 0px;
    text-align: right;
}

.table-excel td b {
    border: 0px;
    background-color: var(--vz-light);
    font-weight: bold;
}

.table-excel td.heading {
    background-color: var(--vz-secondary);
    text-align: center;
    border: 1px solid #9EB6CE;
    border-width: 0px 1px 1px 0px;
}

.table-excel th.heading {
    /* background-image: url(excel-2007-header-left.gif); */
    background-color: rgba(var(--vz-dark-rgb), .6);
    background-repeat: none;
}

.txt-left {
    text-align: left !important;
}





.totalTecho, .totalPartida, .totalSumatoriaPartida {
    font-weight: bold;
}

.heading {
    position: relative;
}

.heading i {
    position: absolute;
    left: 0;

    /* top: -3px; */
    display: none;
}

.heading:hover i {
    color: red !important;
    display: block;
}

.heading i:hover {
    cursor: pointer;
}

.heading:hover i::before {
    content: "\eb96" !important;
}

.head-fuente {
    position: relative;
}

.head-fuente i {
    position: absolute;
    right: 0;
    top: 0;
    display: none;
}

.head-fuente:hover i {
    color: red !important;
    display: block;
}

.head-fuente i:hover {
    cursor: pointer;
}

.head-fuente i::before {
    content: "\eb96" !important;
    font-size: 1.2rem;

}


#tablaTechosUnidad td.head-partida,
#tablaTechosUnidad .numero {
    width: 2% !important;
    text-align: center !important;
}

#tablaTechosUnidad .nombre-unidad {
    text-align: left !important;
    background-color: #E4ECF7;
    font-weight: bold;
}

#tablaTechosUnidad .numero {
    background-color: #E4ECF7;
}

#theadTechoInsitucional tr td {
    font-size: .6rem !important;
}


#tbodyTotalTechoInstitucional tr td,
#tbodyTotalMontoAsignado tr td {
    font-size: .7rem !important;
    font-weight: bold;
}

#tablaTechosUnidad tbody td{
    padding: 6px 2px !important;
}
